h1
{
color: black;
font-family: 'Open Sans', sans-serif;
}

h2
{
color: black;
font-family: 'Open Sans', sans-serif;
}

h3
{
font-size:large;
color: black;
font-family: 'Open Sans', sans-serif;
}

body
.sideBar
{
    float:left;
    width: 20%;
}
.content
{
    overflow:hidden;
}
