h1
{
font-size:500%;
color: black;
font-family: 'Open Sans', sans-serif;
}

h2
{
font-size:350%;
color: black;
font-family: 'Open Sans', sans-serif;
}

h3
{
font-size:200%;
color: black;
font-family: 'Open Sans', sans-serif;
}

body
.sideBar
{
    float:center;
    width: 100%;
}
.content
{
    overflow:hidden;
}


