{% extends "base.html" %}
{% block buttons %} <div class="buttonsCont">
                    <a href="advance" class="push_button blue">1 Hour Advance</a>
                    <a href="manual" class="push_button red">Manual Override</a>
                    <a href="winter" class="push_button blue">Winter Mode</a>
                    <a href="#" class="push_button blue">Edit Schedule</a>
                    </div>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="box effect6">
            <div class="weather" align="left">
                <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=53.3353&lon=-2.7307&units=uk&name=Runcorn England"> </iframe>
            </div>
        <!-- bar chart canvas element -->
        <canvas id="chart" width="1000" height="400"></canvas>
        <script>
        // bar chart data
        var barData = {
        labels : [{% for item in graphDataTIME %}
                "{{item}}",
                {% endfor %}],
        datasets : [
                {
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                bezierCurve : true,
        data : [{% for item in graphDataTEMP %}
                      {{item}},
                    {% endfor %}]
                }]
   }
 
    Chart.defaults.global.animationSteps = 1;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;
 
   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
 
   steps = 5
   max = 30
   // draw bar chart
   var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
 
   });
 
 
</script>    
        </div>
    </div>
</div>
{% endblock %}
